@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.yellow-back{
  background-color: #F7AD00;
}
.yellow-font{
  color: #F7AD00;
  font-family: 'Open Sans', sans-serif;
}
.grey-back{
  background-color: #464646;
}
.white-font{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
.black-font{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.no-margin{
  margin: 0;
}
